@font-face {
  font-family: 'norsebold';
  src: url('./webfontkit-20250414-163006/norse-bold-webfont.woff2') format('woff2'),
       url('./webfontkit-20250414-163006/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* nice and clean */
}


body {
  font-family: sans-serif;
  display: flex;
}


.left-side {
  width: 40%;
  height: auto;
}


.logo {
  position: absolute;
  /* bottom: 50px; */
}


.logo-text {
  font-family: 'norsebold';
  color: red;
}


.the-form {
  background-color: rgb(250, 250, 250);
}


.description {
  font-size: 22px;
  font-weight: bold;
  padding: 175px 150px 60px 40px;
}


.description > :not(:last-child) {
  margin-bottom: 25px;
}


.input-area {
  background-color: white;
  padding: 20px 20px 30px 40px;
  margin-bottom: 30px;
  box-shadow: 6px 6px 10px rgb(185, 185, 185);
}


.input-area > h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}


.input-row {
  display: flex;
  gap: 75px;
}


.input-row + .input-row {
  margin-top: 30px;
}


.input-container {
  display: flex;
  flex-direction: column;
}


label {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 2px;
}


input {
  width: 250px;
  height: 30px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
}
