@font-face {
  font-family: 'norsebold';
  src: url('./webfontkit-20250414-163006/norse-bold-webfont.woff2') format('woff2'),
       url('./webfontkit-20250414-163006/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* nice and clean */
}


body {
  font-family: sans-serif;
  display: flex;
}


.left-side {
  width: 40%;
  height: auto;
}


.logo {
  background-color: rgba(0, 0, 0, 0.5);

  position: absolute;
  top: 200px;

  width: 40%;
  height: 180px;

  display: flex;
  justify-content: center;
  align-items: center;
}


.odin-head {
  height: 80%;
  width: auto;
}


.logo-text {
  color: white;
  font-family: 'norsebold';
  font-size: 100px;
  /* text-align: center; */
}


.photo-credit {
  position: fixed;
  bottom: 15px;
  color: white;
  width: 40%;
  text-align: center;
}


.photo-credit a {
  color: white;
}


.the-form {
  /* position: relative;  /* only so the logo can be positioned absolute? */
  background-color: rgb(250, 250, 250);
}


.description {
  font-size: 22px;
  font-weight: bold;
  padding: 175px 150px 60px 40px;
}


.description > :not(:last-child) {
  margin-bottom: 25px;
}


.input-area {
  background-color: white;
  box-shadow: 6px 6px 10px rgb(185, 185, 185);
  padding: 20px 20px 30px 40px;
  margin-bottom: 30px;
}


.input-area > h1 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}


.input-row {
  display: flex;
  gap: 75px;
}


.input-row + .input-row {
  margin-top: 30px;
}


.input-container {
  display: flex;
  flex-direction: column;
}


label {
  color: rgb(40, 40, 40);
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 2px;
}


input {
  font-size: 14px;
  font-weight: bold;
  width: 250px;
  height: 30px;
  border: 1px solid #E5E7EB;
  border-radius: 4px;
  padding: 4px 10px;
}


input:focus {
  outline: none;
  border-color: rgba(0, 0, 255, 0.75);
  box-shadow: 2px 2px 4px rgb(185, 185, 185);
}


input:invalid:not(:focus) {
  border-color: rgba(255, 0, 0, 0.75);
}


.create {
  color: white;
  background-color: #596D48;
  font-size: 16px;
  font-weight: bold;
  margin-left: 40px;
  margin-bottom: 50px;
  border: none;
  border-radius: 8px;
  padding: 15px 60px;
}


.already {
  margin-left: 40px;
}


.log-in {
  color: #596D48;
  font-weight: bold; 
  text-decoration: none;
}