@font-face {
  font-family: 'norsebold';
  src: url('./webfontkit-20250414-163006/norse-bold-webfont.woff2') format('woff2'),
       url('./webfontkit-20250414-163006/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  /* nice and clean */
}


body {
  font-family: sans-serif;
  display: flex;
}


.left-side {
  height: 1024px;  /* CHANGE THIS */
  width: auto;
}


.logo {
  position: absolute;
  /* bottom: 50px; */
}


.logo-text {
  font-family: 'norsebold';
  color: red;
}


.the-form {
  background-color: rgb(240, 240, 240);
}


.description {
  font-size: 20px;
  font-weight: bold;
  padding: 175px 150px 60px 40px;
}


.description > :not(:last-child) {
  margin-bottom: 25px;
}


.input-area {
  padding: 20px 20px 30px 40px;
  margin-bottom: 30px;
}
